* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdf8f3;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
}

nav ul{
  display: flex;
  gap: 30px;
  list-style: none;
}

nav h2 {
  color: #4CAF50;
}